<section class="card"> <!--add bulma or add CSS-->
  <a href="/workout/{{id}}">
    <header>{{title}}</header>
    <img src="/images/{{workout.[0].filename}}" alt="{{workout.[0].description}}">
  </a>
</section>