{{!-- THIS NEEDS TO BE CHANGED! matt webb feb 8 2023 --}}

{{!-- lOGIN --}}
<div class="modalLogin" id="form-modalLogin">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section modal-wrap">

      <div class="field">
        <label class="lable is-large">email:</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="email@netscape.com" id="email-login">
        </div>
      </div>
      
      <div class="field">
        <label class="lable is-large">Password:</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="Enter your Password" id="password-login">
        </div>
      </div>

      <div class="control">
        <button class="button is-primary" action="" id="submitLogin">Login In</button> <!--created a new id-->
      </div>

    </div>
    <button class="modal-close is-large is-warning" aria-label="close"></button>
  </div>
</div>

  
<script src="./js/login.js"></script>


{{!-- this is a change to this file. --}}
