{{!-- THIS NEEDS TO BE UPDATED!!!!! matt webb feb 8 2023 --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout-inator 3 Billion</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href='/'class="navbar-item"> Home </a>
          {{#if logged_in}}
          <a href='/survey'class="navbar-item"> Macros Calculator </a>
          <button class="navbar-item" id="logout">logout</button>
          {{else}}
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href='/login'class="button is-primary">
                <strong>Login</strong>
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main >
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/profile.js"></script>
  {{/if}}

  <script src="./assets/JS/modal.js"></script>
</body>

</html>
