{{!-- THIS NEEDS TO BE UPDATED!!!!! matt webb feb 8 2023 --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout-inator 3 Billion</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    
    <main >
      <!-- Render the sub layout -->
      {{{ body }}}

      {{login}} <!--we need to test/cleanup the code-->
      {{signup}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/profile.js"></script>
  {{/if}}
</body>

</html>
