{{!-- THIS NEEDS TO BE UPDATED!!!!! matt webb feb 8 2023 --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  {{!-- bulma --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
</head>

<body class="container is-fluid">
  <div>
    <header class="container is-fluid navbar level has-background-warning" role="navigation">
      <h1>
        <a class="title is-1 navbar-item level-item has-text-centered has-text-info-light" href="/homepage">Home</a>
      </h1>
       <h1>
        <a class="title is-1 navbar-item level-item has-text-centered has-text-info-light" href="/profile">Profile</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a>profile</a> |
        <button class="button is-danger title is-3 navbar-item has-text-info-light" id="logout">logout</button>
        {{else}}
        <a class="button is-danger title is-3 navebar-item has-text-info-light" href="/login">Get Started</a>
        {{/if}}
      </nav>
    </header>
    <main class="container is-fluid has-background-info-light">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="subtitle is-6 has-text-centered has-text-dark is-hidden-desktop">
      This website is brought to you by TRENBOLONE!
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/profile.js"></script>
  {{/if}}
</body>

</html>
