{{!-- THIS NEEDS TO BE CHANGED! matt webb feb 8 2023 --}}

{{!-- lOGIN --}}
<div class="modal" id="form-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section modal-wrap">

      <div class="field">
        <label class="lable is-large">email:</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="email@netscape.com" id="email-login">
        </div>
      </div>
      
      <div class="field">
        <label class="lable is-large">Password:</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="Enter your Password" id="password-login">
        </div>
      </div>

      <div class="control">
        <button class="button is-primary" action="ticket.html" id="submit">Submit</button>
      </div>

    </div>
    <button class="modal-close is-large is-warning" aria-label="close"></button>
  </div>
</div>

{{!--SIGNUP--}}
<div class="modal" id="form-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section modal-wrap">

      <div class="field">
        <label clas="lable is-large">First Name</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="e.g Jake" id="firstName">
        </div>
      </div>

      <div class="field">
        <label class="lable is-large">Last Name</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="e.g The Dog " id="firstName">
        </div>
      </div>

      <div class="field">
        <label class="lable is-large">email:</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="email@netscape.com" id="email-login">
        </div>
      </div>
      
      <div class="field">
        <label class="lable is-large">Password:</label>
        <div class="control">
          <input class="input is rounded is-large" type="password" placeholder="Enter your Password" id="password-login">
        </div>
      </div>

      <div class="field">
        <label clas="lable is-large">Goal:</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="Write down your goal" id="goal">
        </div>
      </div>      

      <div class="field">
        <label clas="lable is-large">Age:</label>
        <div class="control">
          <input class="input is rounded is-large" type="integer" placeholder="42" id="age">
        </div>
      </div>

      <div class="field">
        <label clas="lable is-large">Weight</label>
        <div class="control">
          <input class="input is rounded is-large" type="integer" placeholder="Enter your weight in lbs." id="firstName">
        </div>
      </div>

      <div class="field">
        <label clas="lable is-large">Height</label>
        <div class="control">
          <input class="input is rounded is-large" type="integer" placeholder="Enter your height in cm." id="height">
        </div>
      </div>

      <div class="control">
        <button class="button is-primary" action="--" id="submit">Submit</button>
      </div>

    </div>
    <button class="modal-close is large is warning" aria-label="close"></button>
  </div>
</div>

<script src="./js/login.js"></script>


{{!-- this is a change to this file. --}}
