{{!-- THIS NEEDS TO BE CHANGED! matt webb feb 8 2023 --}}

{{!-- lOGIN --}}
<div>
  <div>
    <h2>Login</h2>

    <form>
      <div>
        <label>email:</label>
        <input/>
      </div>
      <div>
        <label>password:</label>
        <input/>
      </div>
      <div>
        <button>login</button>
      </div>
    </form>
  </div>
  <div>
    <h2>Signup</h2>
{{!-- SIGNUP --}}
    <form>
      <div>
        <label>name:</label>
        <input/>
      </div>
      <div>
        <label>email:</label>
        <input/>
      </div>
      <div>
        <label >password:</label>
        <input />
      </div>
      <div class=>
        <button>signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>


{{!-- this is a change to this file. --}}
