
{{!-- MAKE SURE TO DELETE THE CLASS AND ID FOR STUFF!!!!!!!!!! matt webb feb 8 2023 --}}
<div>
  <div>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{!-- what is in thier current profile --}}
<div>
  <div>
    <h3>Please input the folling info:</h3>
{{!-- gender --}}
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">gender:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
{{!-- height --}}
      </div>
      <div class="form-group">
        <label for="project-desc">height:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
{{!-- weight --}}
      </div>
      <div class="form-group">
        <label for="project-desc">height:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
{{!-- height --}}
      </div>
      <div class="form-group">
        <label for="project-desc">height:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
{{!-- copy and paste the following if you need anymore things. --}}
      </div>
      <div class="form-group">
        <label for="project-desc">height:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      
    </form>
  </div>

  

<script src="./js/profile.js"></script>
