{{!--SIGNUP--}}
<div class="modalSignup" id="form-modalSignup">
  <div class="modal-background"></div>
  <div class="modal-content">
    <h2>Signup</h2>
    <div class="section modal-wrap">

      <div class="field">
        <label class="lable is-large">email:</label>
        <div class="control">
          <input class="input is rounded is-large" type="text" placeholder="email@netscape.com" id="email-login">
        </div>
      </div>
      
      <div class="field">
        <label class="lable is-large">Password:</label>
        <div class="control">
          <input class="input is rounded is-large" type="password" placeholder="Enter your Password" id="password-login">
        </div>
      </div>

      <div class="control">
        <button class="button is-primary" action="##" id="submitSignup">Sign Up</button> <!--created a new id-->
      </div>

    </div>
    <button class="modal-close is large is warning" aria-label="close"></button>
  </div>
</div>

<script src="./js/login.js"></script>
