<section class="container"> <!--add bulma or add CSS-->
  <h3 class="workout-name">{{workout.title}}</h3> <!--add bulma or add CSS-->
  <h3>{{workout.muscle_group_focus}}</h3>
  <section class="flex-row justify-center"> <!--add bulma or add CSS-->
    {{#each gallery.workout as |workout|}}
    {{> workout-details}}
    {{/each}}
  </section>
</section>