#themodal{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-top: 15px;
}
.modal-wrap {
    /* background: rgba(208, 141, 17, 0.919); */
    position: fixed;
    width: 650px;
    top: 30%;
    border-radius: 35px;
}